.image_preview {
  &:hover {
    .image {
      filter: opacity(0.7);
    }

    .delete_preview_image_icon {
      visibility: visible;
    }
  }
}

.delete_preview_image_icon {
  visibility: hidden;
  font-size: 20px;
  cursor: pointer;
  color: red;
}
