.twitter-picker {
  margin: 30px auto;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  height: 110px;

  input {
    display: none !important;
  }
}
