.docs-article {
  width: 100%;

  .doc-title {
    color: black;
  }

  .introduction {
    width: 100%;

    .doc-row {
      display: flex;

      .doc-content {
        width: 50%;
        height: 1000px;
        padding: 1rem 3rem;
        color: black;
        border: 1px solid red;
      }
      .doc-example {
        width: 50%;
        height: 1000px;
        background: #191919;
      }
    }
  }
}
