* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.gradient__text {
  background: white;
  // height: 700px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 1rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

//////////

.header-child {
  position: absolute;
  inset: -0.125rem -0.125rem -0.125rem -0.125rem;
  transform: translate(0, 0) rotate(180deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
  opacity: 0.3;
  filter: blur(16px);
}

.header-child-child {
  position: relative;
  border-bottom-width: 1px;
  // backdrop-filter: blur(4px);
  // background: rgba(255, 255, 255, 0.15);
  // border-color: rgb(245 245 245 / 1);

  .header-inside {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .header-inside-inside {
      display: flex;
      justify-content: space-between;
      height: 4rem;
      align-items: center;
      max-width: 80rem;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;

      .header-logo {
        display: flex;
      }
      .header-options {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: 2rem;
        color: white;

        a {
          padding: 0.5rem 0.75rem;
          align-items: center;
          line-height: 1.5rem;
          font-size: 1rem;
          display: inline-flex;
        }
      }

      .header-login {
        color: black;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .header-login-inside {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
}

////////////////////////MAIN
///

.main {
  height: calc(100vh - 64px);
  padding-top: 2rem;
  padding-bottom: 2rem;
  // background-color: rgb(255 255 255 / 1);

  .main-inside {
    padding: 0 2rem;
    max-width: 80rem;
    margin: 0 auto;

    .main-inside-inside {
      display: flex;
      gap: 20px;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;

      .section-main {
        flex: 1 1 0%;

        .section-one {
          padding-top: 5rem;

          .section-one-div-one {
            margin: 0 auto;
            max-width: 80rem;
            padding: 0 2rem;

            .section-one-tite {
              margin: 0 auto;
              max-width: 42rem;
              text-align: center;

              h1 {
                display: block;
                font-size: 3.75rem;
                line-height: 1.1;
                font-weight: 700;
                color: white;

                span {
                  display: inline;
                  // -webkit-text-fill-color: transparent;
                  line-height: 1.1;
                  margin-bottom: -4px;
                }
              }

              h2 {
                color: white;
                font-weight: 500;
                margin-top: 2rem;
                font-size: 1.25rem;
                line-height: 2.4rem;
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}
