/* DO NOT REMOVE - ESTE EL UNICO FONT PARA DESCARGAR */
/* @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
  /* DO NOT REMOVE - CODE FOR REAVIZ CHART STYLES */
  --color-background: rgb(51, 51, 51);
  --color-on-background: #fff;

  --color-tooltip: rgba(0, 5, 11, 0.9);
  --color-on-tooltip: #fff;

  --color-handle-fill: #2c343a;
  --color-handle-stroke: #67c2e4;
  --color-handle-drag-fill: transparent;
  --color-handle-dots: #67c2e4;
  --color-handle-line: #67c2e4;

  font-family: 'Inter', sans-serif;
}

ul {
  list-style-type: none;
}

:root {
  --high: #fa2323;
  --medium: #ffbd5a;
  --low: #2041b7;
  --none: #a0aec0;

  --hoverLiDark: #1f2733;
  /* --hoverLiDark: #222a31; */
  --hoverLiLight: #e9ecef;

  --yesterday: #ff6370;
  --tomorrow: #16cff7;
  /* --tomorrow: #00A4FF; */

  --hover-background: #383d5b;

  --gray-100: #edf2f7;
  --gray-700: #1f2733;

  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}

::-moz-selection {
  /* background: rgba(35, 131, 226, 0.28); */
  background: rgba(56, 139, 253, 0.4);
}

::selection {
  /* background: rgba(35, 131, 226, 0.28); */
  background: rgba(56, 139, 253, 0.4);
}

#main {
  width: 100%;
  min-height: 100vh;
  background-color: #feac00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  z-index: 4;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.5);
}

.circle-1,
.circle-2 {
  background-color: white;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.circle-1 {
  top: 4%;
  right: 2%;
  background-color: #fe336f;
}

.circle-2 {
  bottom: 4%;
  left: 2%;
}
