/* DO NOT REMOVE - ESTE EL UNICO FONT PARA DESCARGAR */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
  /* DO NOT REMOVE - CODE FOR REAVIZ CHART STYLES */
  --color-background: rgb(51, 51, 51);
  --color-on-background: #fff;

  --color-tooltip: rgba(0, 5, 11, 0.9);
  --color-on-tooltip: #fff;

  --color-handle-fill: #2c343a;
  --color-handle-stroke: #67c2e4;
  --color-handle-drag-fill: transparent;
  --color-handle-dots: #67c2e4;
  --color-handle-line: #67c2e4;
}

ul {
  list-style-type: none;
}

:root {
  --high: #fa2323;
  --medium: #ffbd5a;
  --low: #2041b7;
  --none: #a0aec0;

  --hoverLiDark: #1f2733;
  /* --hoverLiDark: #222a31; */
  --hoverLiLight: #e9ecef;

  --yesterday: #ff6370;
  --tomorrow: #16cff7;
  /* --tomorrow: #00A4FF; */

  --hover-background: #383d5b;

  --gray-100: #edf2f7;
  --gray-700: #1f2733;

  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}

::-moz-selection {
  /* background: rgba(35, 131, 226, 0.28); */
  background: rgba(56, 139, 253, 0.4);
}

::selection {
  /* background: rgba(35, 131, 226, 0.28); */
  background: rgba(56, 139, 253, 0.4);
}


body {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

